* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-size: cover;
    background-color: rgb(240, 153, 40);
    background-image: url('/background/png/BG.png');
}

.box {
    position: absolute;
    height: 150px;
    /* background-image: url('../img/Jump__000.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    
    bottom: 100px;
}
#treeElm{
    width: 600px;
    height: 360px;
    /* background-image:url('/background/png/Objects/Bush\ \(1\).png'); */
    z-index: 2;
    background-size: cover;
    position: relative;
    left: 100px;
    top:300px;
    

}
#cactus{
    /* width: 108px;
    height: 111px; */
    background-size: cover;
    position: relative;
    left: 1000px;
    z-index: 0;
   
    
}
#zombi{
    /* background-image: url(/img/Walk\ \(1\).png); */
    animation-name: zombiRun;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes zombiRun{
    0% {
        left: 0;
        transform: rotateY(0);
    }
    50% {
        left: calc(100vw - 100px);
        /* transform: rotateY(180deg); */
    }
    51% {
        /* right: 0; */
        /* transform: rotateY(180deg); */
    }
    100% {
        left: 0;
        transform: rotateY(180deg);
    }
}
